*.pbxproj
*.xcuserstate
*.plist
discreetly.xcodeproj/project.pbxproj
discreetly.xcodeproj/project.xcworkspace/xcuserdata/bulkypanda.xcuserdatad/UserInterfaceState.xcuserstate
discreetly.xcodeproj/project.xcworkspace/contents.xcworkspacedata